//////////////LOGO//
.logo {
    // height: 3.25rem;
    margin-left: 2rem;    
    display: flex;
    align-self: stretch;
    align-items: center;

    &__svg {
        height: 3.25rem;
        margin-right: 1rem;
    }

    &__text {
        font-size: 2.3rem;
        font-weight: 700;
        text-transform: uppercase;
    }


}

//////////////USER-NAVIGATION//
.user-nav {
    
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & > *:hover {
        background-color: var(--Grey-light-2);
    }

    &__icon-box {
        position: relative;        

    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-accent-dark);
        
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-grad-2);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;


    }

    &__user:hover {
        color: var(--color-grad-2);
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;

    }

    &__user-name {
        font-size: 1.3rem;
        font-weight: 400;

    }

    

    
}

//////////////SIDE-NAVIGATION//

.side-nav {
    font-size: 1.4rem;
    font-weight: 600;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-accent-dark);
        transform: scaleY(0);
        transform-origin: top; 
        transition: transform 0.2s, width cubic-bezier(.71,.01,.21,.99) 0.4s, background-color 0.1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-grad-1);
    }

    &__link:link,
    &__link:visited {
        color: var(--Grey-light-1);
        text-decoration: none;          
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;

    }
    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

    }
}

//////////////LEGAL//

.legal {
    font-size: 1.2rem;
    color: var(--Grey-light-4);
    text-align: center;
    padding: 2.5rem;
}



//////////////MASTHEAD//
.masthead {
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/masthead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid var(--Grey-light-2);
    position: relative;

    &__text {
        font-size: 6rem;
        font-weight: 700;
        text-align: left;
        position: absolute;
        top: 16%;
        left: 3%;
        line-height: 1.3;
        & > span {
            display: block;
            text-align: left;
        }
        
    }

    
   

}

//////////////MASTHEAD-SCHEDULES//
.masthead-schedules {
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/schedules.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid var(--Grey-light-2);
    position: relative;

    &__text {
        font-size: 6rem;
        font-weight: 700;
        text-align: left;
        position: absolute;
        top: 36%;
        left: 3%;
        line-height: 1.3;
        & > span {
            display: block;
            text-align: left;
        }
        
    }

    
   

}


//////////////PARAGRAPH//
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}



//////////////LIST//
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid var(--Grey-light-2);
    border-bottom: 1px solid var(--Grey-light-2);
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-item {
        flex: 0 0 50%; 
        margin-bottom: 0.7rem;
    }
    
}

//////////////CARD-TEXT//
.flights__card-text {
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    top: 70%;
    left: 6%;

}
.flights__card-subtext {
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    top: 85%;
    left: 6%;

}
